<h1>Public::Customers#edit</h1>
<p>Find me in app/views/public/customers/edit.html.erb</p>

<%= form_with model: @customer, url: information_path, method: :patch do |f| %>
  <%= f.text_field :last_name %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name_kana %>
  <%= f.text_field :first_name_kana %>
  <%= f.text_field :postal_code %>
  <%= f.text_field :address %>
  <%= f.text_field :telephone_number %>
  <%= f.email_field :email %>
  <%= f.submit '編集内容を保存' %>
<% end %>

<%= link_to '退会する', unsubscribe_path %>