<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

<p>登録情報</p>
<%= link_to '編集する', edit_information_path %>
<%= @customer.last_name %>
<%= @customer.first_name %>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.telephone_number %>
<%= @customer.email %>

<p>配送先</p>
<%= link_to '一覧を見る', addresses_path %>


<p>注文履歴</p>
<%= link_to '一覧を見る', orders_path %>