<div>
  <h2>商品一覧</h2>
  <%= link_to '追加用のプラスボタン', new_admin_item_path %>
</div>

<table>

  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <% @items.each do |item| %>
    <tbody>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.genre_id %></td>
        <td><%= item.is_active %></td>
      </tr>
    </tbody>
  <% end %>

</table>

