<div class="container">
  <div class="row py-4">
    <h5>商品詳細</h5>
  </div>

  <div class="row py-4">

    <div class="col-lg-6">
      <%= image_tag @item.get_item_image(300,100) %>
    </div>

    <div class="col-lg-6">

      <div class="row">
        <h4><%= @item.name %></h4>
      </div>

      <div class="row">
        <h5><%= @item.introduction %></h5>
      </div>

      <div class="row">
        <p><%= @item.genre.name %></p>
      </div>

      <div class="row">
        <p><%= @item.price %>円</p>
      </div>

      <div class="row">
        <% if @item.is_active %>
          <p>販売中</p>
        <% else %>
          <p>販売停止中</p>
        <% end %>
      </div>

      <div class="row">
        <%= link_to edit_admin_item_path(params[:id]) do %>
          <button class="btn btn-primary">編集する</button>
        <% end %>
      </div>

    </div>
  </div>

</div>








