<div class="container">
  <div class="row m-3">
    <h4>管理者ログイン</h4>
  </div>

  <div class="form-horizontal m-3" role="form">

  　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  　　<div class="form-group">
        <div class="form-inline">
          <div class="col-lg-4">
            <%= f.label :email, 'メールアドレス', class:'control-label' %>
          </div>
          <div class="col-lg-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
          </div>
        </div>
      </div>

  　　<div class="form-group">
        <div class="form-inline">
          <div class="col-lg-4">
            <%= f.label :password, 'パスワード', class:'control-label' %>
          </div>
          <div class="col-lg-8">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
      </div>

    　<div class="form-group">
        <div class="form-inline">
          <div class="col-lg-4">

          </div>
          <div class="col-lg-8">
            <%= f.submit "ログイン", class:'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>