<h1>Public::Addresses#edit</h1>
<p>Find me in app/views/public/addresses/edit.html.erb</p>

<p>配送先編集</p>

<%= form_with model: @address, url: address_path, method: :patch do |f| %>
  <div>
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit '変更内容を保存' %>
  </div>
<% end %>