<h1>Public::Addresses#index</h1>
<p>Find me in app/views/public/addresses/index.html.erb</p>

<p>配送先登録／一覧</p>

<%= form_with model: @address, url: addresses_path, method: :post do |f| %>

  <div>
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </div>

  <div>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>

  <div>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name, placeholder: "令和道子" %>
  </div>

  <div>
    <%= f.submit '新規登録' %>
  </div>

<% end %>


  <table>

  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |f| %>
    <tr>
      <td><%= f.postal_code %></td>
      <td><%= f.address %></td>
      <td><%= f.name %></td>
      <td><%= link_to '編集する', edit_address_path(f.id), method: :get %><%= link_to '削除する', address_path(f.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>

</table>