<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>

<%= form_with model: @order do |f| %>
  <p>注文情報入力</p>

  <p>支払方法</p>
  <%= f.radio_button :method_payment, Order.method_payments.key(0) %>
  <%= f.label :method_payment_credit_card, Order.method_payments_i18n[:credit_card] %>

  <%= f.radio_button :method_payment, Order.method_payments.key(1) %>
  <%= f.label :method_payment_transfer, Order.method_payments_i18n[:transfer] %>

  <div>
    <p>お届け先</p>
    <%= f.radio_button :select_address, 0 %>
    <%= f.label :select_address, "ご自身の住所"  %>
    <%= @customer.postal_code %>
    <%= @customer.address %>
    <%= @customer.last_name %>
    <%= @customer.first_name %>
  </div>

  <div>
    <%= f.radio_button :select_address, 1 %>
    <%= f.label :select_address, "登録済住所から選択" %>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
  </div>

  <div>
    <%= f.radio_button :select_address, 2 %>
    <%= f.label :select_address, "新しいお届け先" %>
  </div>

  <div>
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </div>

  <div>
    <%= f.label :postal_address, "住所" %>
    <%= f.text_field :postal_address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>

  <div>
    <%= f.label :postal_name, "宛名" %>
    <%= f.text_field :postal_name, placeholder: "令和道子" %>
  </div>

<% end %>


  <p>確認画面へ進む</p>