<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
<%= @item.name %>
<%= @item.introduction %>
<%= @item.price %>
<%= f.label :amount, "個数選択"%>
<%= f.select :amount, *[1..10] %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.submit 'カートに入れる' %>
<% end %>