<!DOCTYPE html>
<html>
  <head>
    <title>NaganocakeEC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if customer_signed_in? %>
        <li>マイページ</li>
        <li>商品一覧</li>
        <li>カート</li>
        <li><%= link_to 'ログアウト', destroy_customer_session_path %></li>
        <!--a@a/aaaaaa-->

      <% elsif admin_signed_in? %>
        <li>商品一覧</li>
        <li>会員一覧</li>
        <li>注文一覧</li>
        <li>ジャンル一覧</li>
        <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
        <!--a@admin/aaaaaa-->

      <% else %>
        <li>About</li>
        <li>商品一覧</li>
        <li><%= link_to '新規登録', new_customer_registration_path %></li>
        <li><%= link_to 'ログイン', new_customer_session_path %></li>
        <li><%= link_to '管理者ログイン（最後は消す）', new_admin_session_path %></li>

      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
