<!DOCTYPE html>
<html>

  <head>
    <title>NaganocakeEC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="container">
        <div class="row justify-content-between border align-items-center">

          <div class="col-3">
            <h1 class="sample"><%= link_to 'Naganocake', root_path, data: {"turbolinks" => false}, style: "font-family: HiraMinPro-W6; color: #000000;" %></h1>
            <% if customer_signed_in? %>
              <p>ログイン中</p>
            <% end %>
          </div>

          <div class="col-6">
            <ul class="list-group list-group-horizontal">
              <% if customer_signed_in? %>

                <li class="list-group-item"><%= link_to 'マイページ', mypage_path %></li>
                <li class="list-group-item"><%= link_to '商品一覧', items_path %></li>
                <li class="list-group-item"><%= link_to 'カート', cart_items_path %></li>
                <li class="list-group-item"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
                <!--a@a/aaaaaa-->
                <!--b@b/bbbbbb-->

              <% elsif admin_signed_in? %>
                <li class="list-group-item"><%= link_to '商品一覧', admin_items_path %></li>
                <li class="list-group-item">会員一覧</li>
                <li class="list-group-item">注文一覧</li>
                <li class="list-group-item"><%= link_to 'ジャンル一覧', admin_genres_path %></li>
                <li class="list-group-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                <!--a@admin/aaaaaa-->

              <% else %>
                <li class="list-group-item"><%= link_to 'About', about_path %></li>
                <li class="list-group-item"><%= link_to '商品一覧', items_path %></li>
                <li class="list-group-item"><%= link_to '新規登録', new_customer_registration_path %></li>
                <li class="list-group-item"><%= link_to 'ログイン', new_customer_session_path %></li>

              <% end %>
            </ul>
          </div>

          <div class="col-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="キーワードを入力">
              <button class="btn btn-outline-success" type="button" id="button-addon2"><i class="fas fa-search"></i> 検索</button>
            </div>
          </div>

        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col">
            Copyright © Infratop Inc. All Rights Reserved.
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
